.ut-link {
    display: inline-block;
    margin-left: 4px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: white;
}

.ut-link A {
    color: #900756;
    font-weight: normal;
}

